# Node dependencies
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock
.env
.env.local
.env.*.local

# Astro build files
/.astro
/.vercel
/dist/
/out/
/next/
/.svelte-kit/

# Editor & OS-specific files
.vscode/
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo
