---
import ResultCard from "../components/ResultCard";
import Layout from "../layouts/Layout.astro";

const url = new URL(Astro.request.url);
const queryParam = url.searchParams.get('id');
const imageId = queryParam && queryParam.length >= 10 ? queryParam.slice(5, 7) : null;
---

<Layout>
  <div 
    class="w-full h-screen bg-cover bg-center bg-gray-500 flex flex-col items-center justify-center"
    style={{ backgroundImage: "url('/img/bg-phone.webp')" }}
  >
    <div class="w-full max-w-sm mx-auto">
        
      {imageId ? (
        <>
          <div class="text-[#D5A8CF] text-stroke absolute top-10 left-1/2 -translate-x-1/2 text-4xl font-extrabold text-center whitespace-nowrap">
            VID LUV VID YOU
          </div>
          <ResultCard imageId={imageId} client:visible />
        </>
      ) : (
        <div class="text-4xl font-semibold text-center text-[#372444]">
          Card Not Found
        </div>
      )}

      <div class="absolute bottom-10 left-1/2 -translate-x-1/2 flex items-center space-x-2">
        <a href="https://www.instagram.com/vidlovevidu.chula" class="flex items-center space-x-2">
          <img src="/img/ig-logo.svg" alt="Instagram" class="w-6 h-6">
          <div class="text-[#372444] font-semibold text-lg font-medium underline">VIDLOVEVIDU.CHULA</div>
        </a>
      </div>
    </div>
  </div>
</Layout>












