---
import ResultCard from "../components/ResultCard";
import Layout from "../layouts/Layout.astro";

const url = new URL(Astro.request.url);
const queryParam = url.searchParams.get('id');
const imageId = queryParam && queryParam.length >= 10 ? queryParam.slice(5, 7) : null;
---

<Layout>
    <div 
      class="w-full h-screen bg-cover bg-center bg-gray-500 flex flex-col items-center justify-center gap-6"
      style={{ backgroundImage: "url('/img/bg-phone.webp')" }}
    >
        {imageId ? (
          <div class="flex flex-col items-center gap-4">
            <div class="text-[#D5A8CF] text-stroke text-4xl font-extrabold text-center">
              VID LUV VID YOU
            </div>
            <ResultCard imageId={imageId} client:visible />
          </div>
        ) : (
          <div class="text-4xl font-semibold text-center text-[#372444]">
            Card Not Found
          </div>
        )}
  
        <div class="pb-10 flex items-center space-x-2">
          <a href="https://www.instagram.com/vidlovevidu.chula" class="flex items-center space-x-2">
            <img src="/img/ig-logo.svg" alt="Instagram" class="w-6 h-6">
            <div class="text-[#372444] font-semibold text-lg font-medium underline">VIDLOVEVIDU.CHULA</div>
          </a>
        </div>
    </div>
  </Layout>












